@model IEnumerable<PepperShopApplication.Models.Histories>
@{
    ViewData["Title"] = "Lịch Sử Mua Hàng";
    Layout = "_layout_second";
}

<div class="content_cart">
    <div class="cart">
        <div class="header_cart">
            <div class="bark_header_cart">
                <a href="#">Pepper Shop | Lịch Sử Mua Hàng</a>
            </div>
        </div>
        <table class="table table-light table-striped  table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Sản Phẩm</th>
                    <th class="text-center" scope="col">Đơn Giá</th>
                    <th class="text-center" scope="col">Số Lượng</th>
                    <th class="text-center" scope="col">Số Tiền</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="row_cart">
                        <th scope="row">@item.NameHistory</th>
                        <td class="align-middle text-center">@item.PriceHistory</td>
                        <td class="align-middle text-center">@item.Quantity</td>
                        <td class="align-middle text-center">@item.AllPrice * @item.Quantity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
