@model IEnumerable<PepperShopApplication.Models.CartItem>
@{
    ViewData["Title"] = "Giỏ Hàng";
    Layout = "_layout_second";
}

<div class="content_cart">
    <div class="cart">
        <div class="header_cart">
            <div class="bark_header_cart">
                <a href="#">Peper Shop | Giỏ Hàng</a>

            </div>
        </div>
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center" scope="col" style="width: 50%;">Sản Phẩm</th>
                    <th class="text-center" scope="col">Đơn Giá</th>
                    <th class="text-center" scope="col">Số Lượng</th>
                    <th class="text-center" scope="col">Số Tiền</th>
                    <th class="text-center" scope="col">Thao tác</th>
                    <th class="text-center" scope="col">Mua</th> <!-- Thêm cột mới -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="row_cart">
                        <th scope="row">
                            <div class="product_cart">
                                <img src="@item.ImageCart" alt="">
                                <h6>@item.NameCart</h6>
                                <p>@item.Unit</p>
                            </div>
                        </th>
                        <td class="align-middle text-center">@item.PriceCart</td>
                        <td style="position: relative;">
                            <form method="post" asp-action="UpdateQuantity" asp-controller="Cart" asp-route-id="@item.CartID">
                                <input style="width: 80px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);"
                                   type="number" value="@item.Quantity" min="1" name="soluong">
                                <button style=" position: relative; left: 32px;" type="submit" class="text-center btn btn-secondary">
                                    update
                                </button>
                            </form>
                        </td>
                        <td class="align-middle text-center">@item.AllPrice</td>
                        <td class="align-middle text-center">
                            <a asp-action="Delete" asp-controller="Cart" asp-route-id="@item.CartID"
                           class="align-middle text-center btn btn-danger">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            <a asp-action="BuyAll" asp-controller="Cart" class="btn btn-info">Mua Tất Cả</a>
        </div>
    </div>
</div>
